.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-box {
  background: #fff;
  width: 90%;
  max-width: 1000px;
  border-radius: 16px;
  padding: 20px;
  position: relative;
  overflow-y: auto;
  max-height: 95vh;
}

.modal-close-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  background: #000;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  font-size: 24px;
  cursor: pointer;
  z-index: 4;
  display: flex;
  align-items: center;
  justify-content: center;
}


.modal-body {
  display: flex;
  gap: 30px;
  flex-direction: row;
}

.modal-left,
.modal-right {
  flex: 1;
}


.image-wrapper {
  background: #f4f1e9;
  padding: auto;
  width: 100%;
  height: 100%;
  min-height: 420px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.main-img {
  position: absolute;
  width: 300px;
  max-width: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 12px;
  z-index: 2;
}

.circle-img {
  position: absolute;
  width: 320px;
  z-index: 1;
  animation: rotateCircle 20s linear infinite;

}

@media (max-width:1100px) {
  .circle-img {
   
  }
}

@media (max-width:1010px) {

  .circle-img {
  
  }
}


.dish-title {
  padding-top: 20px;
  font-size: 28px;
  margin-bottom: 10px;
}

.rating {
  font-size: 18px;
  color: orange;
  margin-bottom: 10px;
}

.rating span {
  font-size: 14px;
  margin-left: 8px;
  color: #555;
}

.dish-price {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 12px;
}

.dish-desc {
  font-size: 15px;
  color: #333;
  margin-bottom: 15px;
}

.quantity-box {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 15px 0;
}

.quantity-box button {
  padding: 6px 10px;
  cursor: pointer;
}
.quantity-title{
  font-size: 17px;
}
.quantity-box input {
  width: 40px;
  text-align: center;
  padding: 5px;
}

.btn-group {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.add-cart,
.wishlist {
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  border: none;
  font-weight: 500;
}

.add-cart {
  background: red;
  color: white;
}

.wishlist {
  background: orange;
  color: white;
}


.share-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.share-title{
  font-size: 18px;
}
.social-icons {
  display: flex;
  gap: 12px;
}

.social-icons>* {
  font-size: 24px;
  padding: 6px;
  border: 1px solid black;
  border-radius: 50%;
  cursor: pointer;
}


@keyframes rotateCircle {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


@media (max-width: 1000px) {
  .modal-body {
    flex-direction: column;
  }

  .modal-left {
    order: 1;
  }

  .modal-right {
    order: 2;
    text-align: center;
  }

  .btn-group,
  .share-box {
    justify-content: center;
    align-items: center;
  }

  .image-wrapper {
    min-height: 300px;
  }

  .main-img {
    width: 250px;
  }

  .dish-title {
    font-size: 24px;
  }
}